.owl-carousel.owl-theme#mainCarousel
	.item
		img(src = 'images/mslider_1.jpg')
	.item
		img(src = 'images/mslider_2.jpg')
	.item
		img(src = 'images/mslider_3.jpg')
	.item
		img(src = 'images/mslider_4.jpg')
