#mainCarousel
	background-color GRAY_E3
	.item 
		img
			width 100%
			display block
			float left
			height auto
.owl-controls
	position absolute
	width 100%
	margin 0px
	bottom 0px
	.owl-page
		span
			background #ffffff !important
			margin 5px !important
			cursor pointer
			@media MOBILE
				width 6px !important
				height 6px !important
				margin 5px 2px !important
	.active
		span
			cursor default
