.page-4-container
	.row-container
		.row-content
			.col-content
				.page-4-title
					.page-4-title-1 海信传媒网络，生于智能时代
					.page-4-title-2 为互联网视频云平台提供解决方案
					.page-4-title-line
				.page-4-text
					p 青岛海信传媒网络技术有限公司作为全球领先的高科技公司，一直致力于智能产业系
						|统平台以及移动互联网智能应用相关领域的技术研发。于2012年11月在亚
						|洲、北美、欧洲和非洲等市场成功研发并投放VIDDA系统平台，为2000多
						|万电视、平板、手机等各种智能终端用户提供支持和服务。智能应用涉及:
						|应用商店、视频聚合、游戏平台、教育平台、支付平台等不同的领域。
					p 海信传媒网络在国内外用于大量核心专利技术，在智能系统平台实现云端同时
						|驱动多终端的视频和应用并发，使视频和应用可以畅通无阻的在各种终端设
						|备上运行。相关的专利技术还有：包括3D等编码流自适应的流媒体技术，远
						|程高清直播（DistanceHDTV）和实时转码并发等功能，并支持一源多屏的视
						|频传输，成就了可扩展的智能视频云平台。
					p 团队2012年被慧聪评为广电十大新锐企业，被创业邦评为年度创新成长企业100
						|强，成为国内外业界广泛认可的视频云技术服务商。2013年更推出了3D视频
						|云解决方案，超高清云解决方案和云播放器等各种应用和技术服务。2013年
						|1月4日，新闻出版广电总局1号文件传达之际，海信传媒网络已经为上海文
						|广、CNTV移动终端等各级广电机构服务超过18个月。
					p 与阿里云携手合作，通过部署在阿里云计算上的视频云服务针对云计算开发者、
						|中国的创新企业提供视频技术支持。
					p 海信传媒网络的在线视频平台服务是从音视频内容的自动上传、转码、分发、存
						|储、缓存、传输，到CDN加速的视频传播完整解决方案。经典客户包括国旅、
						|奥美公司等上百家知名企业。客户不需要配备专业视频技术人员，即租即用，
						|随时升级自己的网站成为视频平台，提高产品服务的客户体验。
			.col-content
				.col-1of5
					.page-4-item.clearfix
						img(src="images/hi-page4-icon-1.png")
						.page-4-item-arrow
						.page-4-item-mask.left
							.page-4-item-text 通过互联网平台为智能电视、机顶盒等其他终端用户提供流畅的高清直播。
				.col-1of5
					.page-4-item.clearfix
						img(src="images/hi-page4-icon-2.png")
						.page-4-item-arrow
						.page-4-item-mask 
							.page-4-item-text 为终端用户提供方便快捷的视频内容聚合、搜索、观看以及管理。
								|同时实现共享、分享、定点分发等需求。
								|各种应用在不同的时间、地点和终端实现支付、下载和运营。
				.col-1of5
					.page-4-item.clearfix
						img(src="images/hi-page4-icon-3.png")
						.page-4-item-arrow
						.page-4-item-mask 
							.page-4-item-text 互联网无疆界的特性要求系统具有良好的扩展性（包含业务层面和用户规模层面）以及广泛的兼容性。
				.col-1of5
					.page-4-item.clearfix
						img(src="images/hi-page4-icon-4.png")
						.page-4-item-arrow
						.page-4-item-mask 
							.page-4-item-text 满足用户对系统内容得多元化需求，如：<br>
								|A.互联网体验电视级高清<br>
								|在已实现的双向改造的有线网络实现全新的OTT视频服务架构；服务器端驱动的码流自适应技术保证清晰流畅的高清视频体验。<br>
								|B.内容汇聚简单，覆盖多屏<br>
								|基于IP的视频源汇聚和转码技术，帮助用户轻松实现海量源内容汇聚；单一系统同时支持STB/PC/PAD/智能手机，简化网络架构与运营难度；无需客户端及二次开发，系统即刻上线，大大降低运营成本。<br>
								|C.智能业务（视频等应用）实现全球部署<br>
								|支持点播、直播、时移、虚拟频道等业务，提高客户体验的同时大大增加用户黏性；独特的DistanceHDTV技术实现互联网高清电视全球覆盖。
				.col-1of5
					.page-4-item.clearfix
						img(src="images/hi-page4-icon-5.png")
						.page-4-item-arrow
						.page-4-item-mask.right
							.page-4-item-text 运营级别服务平台：
								|A.系统可靠性高，部署简单，扩容方便；
								|B.与集成播控平台轻松对接，不影响原有系统运营；
								|C.开放API，支持DRM，CMS和BOSS等第三方系统无缝对接；
								|D.提供完备的应用运营数据、收视率数据、广告数据和系统监控日志。
				.clearfix
.hi-footer
	.hi-footer-title
	.row-container
		.hi-footer-line
	.hi-footer-links
		a(href="http://cloud.hisense.com/" target="_blank") 公司首页
		.footer-dvline
		a(href="http://www.hisense.com/" target="_blank") 海信集团
	.hi-footer-links Copyright ©2015 Hisense Media Network Technology Co.,Ltd. All Rights Reserved.
	.hi-footer-links 青岛海信网络传媒技术有限公司版权所有
	.clearfix
