.m-part-3
	.m-part-3-title-container
		.page-title
			.page-title-cn 关于我们
			.page-title-en ABOUT US
	.clearfix
	.m-part-3-content
		.m-part-3-solgan
			img(src='images/m-part-3-slogan.jpg')
		.m-part-3-item
			.m-part-3-icon
				img(src='images/3-1a.png')
			.m-part-3-title 高清流畅的直播
		.m-part-3-item
			.m-part-3-icon
				img(src='images/3-2a.png')
			.m-part-3-title 便捷的管理
		.m-part-3-item
			.m-part-3-icon
				img(src='images/3-3a.png')
			.m-part-3-title 良好的兼容性和扩展性
		.m-part-3-item
			.m-part-3-icon
				img(src='images/3-4a.png')
			.m-part-3-title 满足多元化需求
		.m-part-3-item
			.m-part-3-icon
				img(src='images/3-5a.png')
			.m-part-3-title 运营级别服务平台
	.m-part-3-shadow
		img(src='images/m-part-3-shadow.jpg')
	.m-part-3-article
		p
			span 青岛海信传媒网络技术有限公司
			|作为全球领先的高科技公司,一直致力于智能产业系
			|统平台以及移动互联网智能应用相关领域的技术研发。于2012年11月在亚
			|洲、北美、欧洲和非洲等市场成功研发并投放VIDDA系统平台，为2000多
			|万电视、平板、手机等各种智能终端用户提供支持和服务。智能应用涉及:
			|应用商店、视频聚合、游戏平台、教育平台、支付平台等不同的领域。
		p 海信传媒网络在国内外用于大量核心专利技术，在智能系统平台实现云端同时
			|驱动多终端的视频和应用并发，使视频和应用可以畅通无阻的在各种终端设
			|备上运行。相关的专利技术还有：包括3D等编码流自适应的流媒体技术，远
			|程高清直播（DistanceHDTV）和实时转码并发等功能，并支持一源多屏的视
			|频传输，成就了可扩展的智能视频云平台。
		p 团队2012年被慧聪评为广电十大新锐企业，被创业邦评为年度创新成长企业100
			|强，成为国内外业界广泛认可的视频云技术服务商。2013年更推出了3D视频
			|云解决方案，超高清云解决方案和云播放器等各种应用和技术服务。2013年
			|1月4日，新闻出版广电总局1号文件传达之际，海信传媒网络已经为上海文
			|广、CNTV移动终端等各级广电机构服务超过18个月。
		p 与阿里云携手合作，通过部署在阿里云计算上的视频云服务针对云计算开发者、
			|中国的创新企业提供视频技术支持。
		p 海信传媒网络的在线视频平台服务是从音视频内容的自动上传、转码、分发、存
			|储、缓存、传输，到CDN加速的视频传播完整解决方案。经典客户包括国旅、
			|奥美公司等上百家知名企业。客户不需要配备专业视频技术人员，即租即用，
			|随时升级自己的网站成为视频平台，提高产品服务的客户体验。
	.m-part-3-solgan2
		img(src="images/m-part3-slogan2.png")
	.clearfix
	.m-part-3-item2
		.m-part-3-item2-left
			img(src="images/m-part3-icon-1.png")
		.m-part-3-item2-right 400-079-0126
	.m-part-3-item2
		.m-part-3-item2-left
			img(src="images/m-part3-icon-4.png")
		.m-part-3-item2-right 1839116809@qq.com
	.m-part-3-item2
		.m-part-3-item2-left
			img(src="images/m-part3-icon-2.png")
		.m-part-3-item2-right 1839116809
	.m-part-3-item2
		.m-part-3-item2-left
			img(src="images/m-part3-icon-3.png")
		.m-part-3-item2-right 扫码加微信
	.col-1of4 &nbsp;
	.col-1of2
		.full-img
			img(src="images/qrcode.png")
	.col-1of4  &nbsp;
	.clearfix
	


			