.m-part-1
	.page-title
		.page-title-cn 功能介绍
		.page-title-en Function Introduction
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-1.jpg")
		.m-part-1-item-right 一云多屏，无界观看
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-2.jpg")
		.m-part-1-item-right 一站式SAAS，轻松进入云世界
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-3.jpg")
		.m-part-1-item-right 高并发访问，享受流畅视听体验
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-4.jpg")
		.m-part-1-item-right 智能云转码，让转码不再愁
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-5.jpg")
		.m-part-1-item-right 微信分享，让您的信息瞬间传达到地球的任何一个角落
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-6.jpg")
		.m-part-1-item-right 自定义视频广告，完全私人定制
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-7.jpg")
		.m-part-1-item-right 统计分析，商机运营好帮手
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-8.jpg")
		.m-part-1-item-right 在线编辑，简单快捷
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-9.jpg")
		.m-part-1-item-right 自定义播放器LOGO，从此买入高大上
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-10.jpg")
		.m-part-1-item-right 超多标准API，灵活扩展
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-11.jpg")
		.m-part-1-item-right 在线字幕制作，想改就改，给自己更多机会
	.m-part-1-item
		.m-part-1-item-left
			img(src="images/mhi-p1-icon-12.jpg")
		.m-part-1-item-right 在线媒资，随时随地轻松管理
	.m-part-1-info-title 为互联网视频云平台提供解决方案：
	.clearfix
	.m-part-1-info-text 为企业用户提供最优的视频云平台支持，服务涉及广电、媒体、教育、旅游、电商、游戏、娱乐等行业，让视频在互联网终端轻松启动，完成从Web到iOS、Android的跨媒体传播。
	.clearfix