.m-part-1
	width 100%
	height auto
	background BLUE_GRAY
	display block
	overflow hidden
	padding 20px 0px
	.page-title-cn
		color #ffffff
	.page-title-en
		color lighten(HISENSE_BLUE,20%)
	.m-part-1-item
		width auto
		height auto
		display block
		position relative
		padding 10px 20px 30px 94px
		min-height 64px
		.m-part-1-item-left
			position absolute
			width 64px
			height 64px
			left 20px
			top 10px
			display block
			img
				width 100%
				height 100%
				display block
				float left
		.m-part-1-item-right
			width 100%
			margin-top 20px
			display block
			font-size 20px
			color #ffffff
			line-height 26px
	.m-part-1-info-title
		width auto
		display block
		float left
		padding 4px 10px
		font-size 14px
		box-sizing content-box
		line-height 20px
		height 20px
		color #ffffff
		background-color rgba(0,0,0,0.2)
		border-radius 18px
		margin-left 20px
	.m-part-1-info-text
		width auto
		display block
		font-size 14px
		line-height 22px
		color #ffffff
		padding 10px 20px
