.m-footer
	width 100%
	height auto
	padding 20px
	overflow hidden
	background-color #ffffff
	.footer-text
		font-size 14px
		color BLUE_GRAY
		line-height 36px
		width 100%
		text-align center