.slider-item
	position absolute
	display block
	width 100%
	top 0px
	bottom 0px
	right 0px
	left 0px
	&.instage
		z-index 10
	&.outstage
		z-index 1
.slider-bg
	position absolute
	width auto
	height auto
.full-img
	img
		width 100%
		height 100%
		float left
		-webkit-transform-origin 50% 50%
		-moz-transform-origin 50% 50%
		transform-origin 50% 50%
		display block
.slider-1-text
	display block
	position absolute
	width 401px
	height 44px
	left 50%
	margin-left -200px
	top 50%
	margin-top 180px
.slider-1-cloud
	position absolute
	width 352px
	height 228px
	display block
	left 50%
	top 50%
	margin-left -176px
	margin-top -80px
	-webkit-transform-origin 50% 50%
	-moz-transform-origin 50% 50%
	transform-origin 50% 50%
.slider-1-rotate
	position absolute
	width 130px
	height 126px
	display block
	left 50%
	top 50%
	margin-left -65px
	margin-top -10px
	-webkit-transform-origin 50% 50%
	-moz-transform-origin 50% 50%
	transform-origin 50% 50%
.slider-2-tv
	position absolute
	width 964px
	height 437px
	left 70%
	top 50%
	margin-left -482px
	margin-top -170px
.slider-2-text
	display block
	position absolute
	width 458px
	height 45px
	left 26%
	top 50%
	margin-left -229px
	margin-top -50px
.slider-3-text
	display block
	position absolute
	width 403px
	height 45px
	left 50%
	top 50%
	margin-left -430px
	margin-top -150px
.slider-3-mobile
	display block
	position absolute
	width 121px
	height 228px
	left 50%
	top 70%
	margin-left -330px
	margin-top -64px
.slider-3-laptop
	display block
	position absolute
	width 308px
	height 236px
	left 50%
	top 70%
	margin-left -330px
	margin-top -64px
.slider-3-pad
	display block
	position absolute
	width 288px
	height 227px
	left 50%
	top 70%
	margin-left -244px
	margin-top -38px
.slider-3-tv
	display block
	position absolute
	width 567px
	height 407px
	left 50%
	top 70%
	margin-left -50px
	margin-top -220px
.slider-4-text
	display block
	position absolute
	width 402px
	height 44px
	left 70%
	top 40%
	margin-left -201px
	margin-top -22px
.slider-4-building
	display block
	position absolute
	width auto
	height auto
	top 75px
	bottom 0
	left 0
	img
		width auto
		height 100%
		display block
		float left
.instage
	#sbg_1
		img
			-webkit-transform scale(1.1)
			-moz-transform scale(1.1)
			transform scale(1.1)
			-webkit-transition -webkit-transform 5s linear
			-moz-transition -moz-transform 5s linear
			transition transform 5s linear
	.slider-1-text
		opacity 1
		-webkit-transform translate3d(0,0,0)
		-moz-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		-webkit-transition -webkit-transform 2s 0.5s ease , opacity 2s 0.5s ease
		-moz-transition -moz-transform 2s 0.5s ease , opacity 2s 0.5s ease
		transition transform 2s 0.5s ease , opacity 2s 0.5s ease
	.slider-1-cloud
		opacity 1
		-webkit-transform scale(1)
		-moz-transform scale(1)
		transform scale(1)
		-webkit-transition -webkit-transform 4s ease , opacity 3s ease
		-moz-transition -moz-transform 4s ease , opacity 3s ease
		transition transform 4s ease , opacity 3s ease
	.slider-1-rotate
		opacity 1
		-webkit-transform rotate(0deg) scale(1)
		-moz-transform rotate(0deg) scale(1)
		transform rotate(0deg) scale(1)
		-webkit-transition -webkit-transform 5s ease , opacity 3s ease
		-moz-transition -moz-transform 5s ease , opacity 3s ease
		transition transform 5s ease , opacity 3s ease
	.slider-2-tv
		opacity 1
		-webkit-transform translate3d(0,0,0)
		-moz-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		-webkit-transition -webkit-transform 2s ease , opacity 2s ease
		-moz-transition -moz-transform 2s ease , opacity 2s ease
		transition transform 2s ease , opacity 2s ease
	.slider-2-text
		opacity 1
		-webkit-transform translate3d(0,0,0)
		-moz-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		-webkit-transition -webkit-transform 2s 0.5s ease , opacity 2s 0.5s ease
		-moz-transition -moz-transform 2s 0.5s ease , opacity 2s 0.5s ease
		transition transform 2s 0.5s ease , opacity 2s 0.5s ease
	.slider-3-text
		opacity 1
		-webkit-transform translate3d(0,0,0)
		-moz-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		-webkit-transition -webkit-transform 2s 0.5s ease , opacity 2s 0.5s ease
		-moz-transition -moz-transform 2s 0.5s ease , opacity 2s 0.5s ease
		transition transform 2s 0.5s ease , opacity 2s 0.5s ease
	.slider-3-mobile
		opacity 1
		-webkit-transform translate3d(0,0,0)
		-moz-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		-webkit-transition -webkit-transform 4s ease , opacity 4s ease
		-moz-transition -moz-transform 4s ease , opacity 4s ease
		transition transform 4s ease , opacity 4s ease
	.slider-3-pad
		opacity 1
		-webkit-transform translate3d(0,0,0)
		-moz-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		-webkit-transition -webkit-transform 4s ease , opacity 4s ease
		-moz-transition -moz-transform 4s ease , opacity 4s ease
		transition transform 4s ease , opacity 4s ease
	.slider-3-tv
		opacity 1
		-webkit-transform translate3d(0,0,0)
		-moz-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		-webkit-transition -webkit-transform 4s ease , opacity 4s ease
		-moz-transition -moz-transform 4s ease , opacity 4s ease
		transition transform 4s ease , opacity 4s ease
	.slider-4-text
		opacity 1
		-webkit-transform translate3d(0,0,0)
		-moz-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		-webkit-transition -webkit-transform 2s 0.5s ease , opacity 2s 0.5s ease
		-moz-transition -moz-transform 2s 0.5s ease , opacity 2s 0.5s ease
		transition transform 2s 0.5s ease , opacity 2s 0.5s ease
	#sbg_4
		img
			-webkit-transform translate3d(100px,0,0)
			-moz-transform translate3d(100px,0,0)
			transform translate3d(100px,0,0)
			-webkit-transition -webkit-transform 5s linear
			-moz-transition -moz-transform 5s linear
			transition transform 5s linear
.outstage
	#sbg_1
		img
			-webkit-transform scale(1)
			-moz-transform scale(1)
			transform scale(1)
			-webkit-transition -webkit-transform 0.1s 1s linear
			-moz-transition -moz-transform 0.1s 1s linear
			transition transform 0.1s 1s linear
	.slider-1-text
		opacity 0
		-webkit-transform translate3d(0,20px,0)
		-moz-transform translate3d(0,20px,0)
		transform translate3d(0,20px,0)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	.slider-1-cloud
		opacity 0
		-webkit-transform scale(1.2)
		-moz-transform scale(1.2)
		transform scale(1.2)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	.slider-1-rotate
		opacity 0
		-webkit-transform rotate(-2720deg) scale(1.2)
		-moz-transform rotate(-2720deg) scale(1.2)
		transform rotate(-2720deg) scale(1.2)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	.slider-2-tv
		opacity 0
		-webkit-transform translate3d(-100px,0,0)
		-moz-transform translate3d(-100px,0,0)
		transform translate3d(-100px,0,0)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	.slider-2-text
		opacity 0
		-webkit-transform translate3d(100px,0px,0)
		-moz-transform translate3d(100px,0px,0)
		transform translate3d(100px,0px,0)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	.slider-3-text
		opacity 0
		-webkit-transform translate3d(100px,0px,0)
		-moz-transform translate3d(100px,0px,0)
		transform translate3d(100px,0px,0)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	.slider-3-mobile
		opacity 0
		-webkit-transform translate3d(-100px,0,0)
		-moz-transform translate3d(-100px,0,0)
		transform translate3d(-100px,0,0)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , linear 0s 0.6s linear
	.slider-3-pad
		opacity 0
		-webkit-transform translate3d(-50px,0,0)
		-moz-transform translate3d(-50px,0,0)
		transform translate3d(-50px,0,0)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	.slider-3-tv
		opacity 0
		-webkit-transform translate3d(100px,0,0)
		-moz-transform translate3d(100px,0,0)
		transform translate3d(100px,0,0)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	.slider-4-text
		opacity 0
		-webkit-transform translate3d(100px,0px,0)
		-moz-transform translate3d(100px,0px,0)
		transform translate3d(100px,0px,0)
		-webkit-transition -webkit-transform 0s 0.6s linear , opacity 0s 0.6s linear
		-moz-transition -moz-transform 0s 0.6s linear , opacity 0s 0.6s linear
		transition transform 0s 0.6s linear , opacity 0s 0.6s linear
	#sbg_4
		img
			-webkit-transform translate3d(0,0px,0)
			-moz-transform translate3d(0,0px,0)
			transform translate3d(0,0px,0)
			-webkit-transition -webkit-transform 0.1s 1s linear
			-moz-transition -moz-transform 0.1s 1s linear
			transition transform 0.1s 1s linear
.slider-bullet-container
	position absolute
	width 100%
	height 15px
	bottom 15px
	text-align center
	z-index 20
	padding 0
	li
		display inline-block
		width 15px
		height 15px
		margin 0px 7px
		background-image url('images/hi-dot-unfocus.png')
		background-repeat no-repeat
		cursor pointer
		&.active
			cursor default
			background-image url('images/hi-dot-focus.png')
