.slider-item.outstage
	.slider-bg.full-img#sbg_1
		img(src="images/slider_1_bg.jpg")
	.slider-1-text.full-img
		img(src="images/hi-slider-1-text.png")
	.slider-1-cloud.full-img
		img(src="images/hi-slider-1-cloud.png")
	.slider-1-rotate.full-img
		img(src="images/hi-slider-1-rotate.png")
.slider-item.outstage
	.slider-bg.full-img#sbg_2
		img(src="images/slider_2_bg.jpg")
	.slider-2-tv.full-img
		img(src="images/hi-slider-2-tv.png")
	.slider-2-text.full-img
		img(src="images/hi-slider-2-text.png")
.slider-item.outstage
	.slider-bg.full-img#sbg_3
		img(src="images/slider_3_bg.jpg")
	.slider-3-mobile.full-img
		img(src="images/hi-slider-3-mobile.png")
	.slider-3-pad.full-img
		img(src="images/hi-slider-3-pad.png")
	.slider-3-tv.full-img
		img(src="images/hi-slider-3-tv.png")
	//.slider-3-laptop.full-img
		//img(src="images/hi-slider-3-laptop.png")
	.slider-3-text.full-img
		img(src="images/hi-slider-3-text.png")
.slider-item.outstage
	.slider-bg.full-img#sbg_4
		img(src="images/slider_4_bg.jpg")
	.slider-4-building
		img(src="images/hi-slider-4-building.png")
	.slider-4-text.full-img
		img(src="images/hi-slider-4-text.png")
ul.slider-bullet-container