.page-3-content
	.page-title
		.page-title-cn 合作客户
		.page-title-en Our Clients
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-1.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-2.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-3.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-4.png")
	a.page-3-item.page-3-item-small(href="javascript:;")
		img(src="images/hi-client-5.png")
	.clearfix
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-6.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-7.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-8.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-9.png")
	a.page-3-item.page-3-item-small(href="javascript:;")
		img(src="images/hi-client-10.png")
	.clearfix
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-11.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-12.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-13.png")
	a.page-3-item(href="javascript:;")
		img(src="images/hi-client-14.png")
	a.page-3-item.page-3-item-small(href="javascript:;")
		img(src="images/hi-client-15.png")
	.clearfix