.page-2-content
	.page-title
		.page-title-cn 功能介绍
		.page-title-en Function Introduction
	.page-2-item
		img(src='images/hi-page2-icon-1.png')
		.page-2-item-title 一云多屏<br>无界观看
	.page-2-item
		img(src='images/hi-page2-icon-2.png')
		.page-2-item-title 一站式SAAS<br>轻松进入云世界
	.page-2-item
		img(src='images/hi-page2-icon-3.png')
		.page-2-item-title 高并发访问<br>享受流畅视听体验
	.page-2-item
		img(src='images/hi-page2-icon-4.png')
		.page-2-item-title 智能云转码<br>让转码不再愁
	.page-2-item
		img(src='images/hi-page2-icon-5.png')
		.page-2-item-title 微信分享<br>让您的信息瞬间传达到<br>地球的任何一个角落
	.page-2-item
		img(src='images/hi-page2-icon-6.png')
		.page-2-item-title 自定义视频广告<br>完全私人定制
	.clearfix
	.page-2-item
		img(src='images/hi-page2-icon-7.png')
		.page-2-item-title 统计分析<br>商机运营好帮手
	.page-2-item
		img(src='images/hi-page2-icon-8.png')
		.page-2-item-title 在线编辑<br>简单快捷
	.page-2-item
		img(src='images/hi-page2-icon-9.png')
		.page-2-item-title 自定义播放器LOGO<br>从此买入高大上
	.page-2-item
		img(src='images/hi-page2-icon-10.png')
		.page-2-item-title 超多标准API<br>灵活扩展
	.page-2-item
		img(src='images/hi-page2-icon-11.png')
		.page-2-item-title 在线字幕制作<br>想改就改<br>给自己更多机会
	.page-2-item
		img(src='images/hi-page2-icon-12.png')
		.page-2-item-title 在线媒资<br>随时随地轻松管理
	.clearfix
	.page-2-text
		|为互联网视频云平台提供解决方案：<br>
		|为企业用户提供最优的视频云平台支持，服务涉及广电、媒体、教育、旅游、电商、游戏、娱乐等行业，让视频在互联网终端轻松启动，完成从Web到iOS、Android的跨媒体传播。