.page-2-content
	width auto
	height auto
	position absolute
	left 0%
	top 0%
	overflow hidden
	display block
	.page-title
		position static
		display block
		width auto
		margin-bottom 10px
	.page-2-item
		width 160px
		height auto
		margin 6px 1px
		float left
		img
			width 100%
			height auto
			display block
		.page-2-item-title
			margin-top 6px
			font-size 14px
			color #ffffff
			line-height 18px
			text-align center
			display block
		@media HEIGHT_LARGE
			width 224px
			margin 10px 1px
			.page-2-item-title
				margin-top 10px
				font-size 18px
				line-height 22px
		@media HEIGHT_SMALL
			width 120px
			margin 4px 1px
			.page-2-item-title
				margin-top 4px
				font-size 12px
				line-height 14px
		@media WIDTH_THIN
			width 120px
			margin 4px 1px
			.page-2-item-title
				margin-top 4px
				font-size 12px
				line-height 14px
	.page-2-text
		width auto
		display block
		text-align left
		font-size 12px
		color #ffffff
		line-height 22px
		@media HEIGHT_SMALL
			max-width 732px
		@media WIDTH_THIN
			max-width 732px

