.m-part-2
	.page-title
		.page-title-cn 合作客户
		.page-title-en Our Clients
	.m-part-2-container
		.m-part-2-item
			img(src='images/m-part2-1.png')
		.m-part-2-item
			img(src='images/m-part2-2.png')
		.m-part-2-item
			img(src='images/m-part2-3.png')
		.m-part2-arrowleft
		.m-part2-arrowright