.hi-top
	span 
		|欢迎您，请&nbsp;
		a(href="http://my.staging.video-tx.com/login.php") 登录
	.dv-line
	span
		a(href="http://my.staging.video-tx.com/trial/trial.html") 注册
	.dv-line
	span#btn_tiyanqu
		a(href="javascript:;") 体验区
	.top-tip
		span 免费体验
		span#top_tip(style="display:none") ，请先注册，即可进入体验区
		.top-tip-arrow
	.pull-right
		.top-icon.ticon-1.has-text
			.top-icon-text 400-079-0126
		.top-icon.ticon-4.has-text
			.top-icon-text 1839116809@qq.com
		.top-icon.ticon-2.has-text
			.top-icon-text 1839116809
		.top-icon.ticon-3.has-qrcode
			.qrcode-arrow
			.qrcode-box
				img(src='images/qrcode.png')
		

.hi-nav
	.hi-logo
	.hi-nav-btn-container
		.hi-nav-btn.active 产品与服务
		.hi-nav-btn 功能介绍
		.hi-nav-btn 合作客户
		.hi-nav-btn 关于我们
	a.hi-tiyan-btn(href="javascript:;") 体验试用
